header {
    position: relative;
    line-height: 1;
    background-color: black;
    width: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
#hr1 {
    margin: 0;
}
h1 {   
    font-family: "Hurricane";
    font-size: 60px;
    color: yellow;
    font-weight: 600;
    font-style: normal;
    height: 50px;
    margin: 0;
}    
.container_img {
    text-align: center;
}
.container_img img {
    height: 100px;
    margin-bottom: -20px;
    margin-top: -68px;
    width: 20%;
    max-width: 100%;
    opacity: 0.6;
    object-fit: cover;
}
.left {
    font-family: 'Ibarra Real Nova';
    position: absolute;
    display: flex;
    justify-content: space-around;
    left: 10px;
    width: 30%;
    color: yellow;
    font-size: 15px;
    top: 47px;
}
.left h4 {
    margin: 0;             
}
.right {
    position: absolute;
    display: flex;
    justify-content: space-around;
    font-family: 'Ibarra Real Nova';
    right: 80px;
    width: 20%;
    color: yellow;
    top: 47px;
    font-size: 15px;
    gap: 10px;
}
.right h4 {
    margin: 0;  
}
#menu {
    position: absolute;
    top: 53px;
    right: 30px;
}
.bottom {
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 110px;
    width: 7%;
    margin: 15px 10px;
}
h5 {
    position: absolute;
    color: green;
    top: 90px;
    right: 10px;
}